a:hover {
  text-decoration: none;
}

.post-preview{
  margin-bottom: 1rem;
}
.card-title{
  font-size:25px;
}
.whole-app{
  padding-bottom: auto;
}

@media (max-width:567px){
  .search-tab{
    margin-top: 1rem;
  }
  .search-btn{
    padding-left: 0;
  }
}
.whole-app > .container{
  box-shadow: 0 0 10px 1px black;
  padding-top: 20px;
  padding-bottom: 100px;
  margin-top: 2rem;
  margin-bottom: 60px;
}

#footer{
  position: absolute;
  bottom: -1;
  left:0;
  right:0;
  top:-1;
}

.all-components{
  margin-top: 2rem;
}

.first-half{
  display: flex;
  flex-direction: row;
}

.second-half{
  display:flex;
  flex-direction: row;
}

@media (max-width:992px){
  .first-half{
    flex-direction: column;
  }

  .rated-fictions{
    order: 2;
  }

  .tag-cloud{
    order:1;
  }
}

.card-out{
  border:none;
}

.registr-card{
  border: none;
}

.reg-form{
  margin-left: 30%;
  margin-right: 30%;
}

.error-text{
  color:red;
  font-weight: 700;
}

.error-text::before{
  content: "\274c ";
}

.change-btn.update-btn, .change-btn.delete-btn,
.new-part-btn, .new-post-btn{
  transition: none;
}
.change-btn.update-btn, .new-part-btn, .new-post-btn{
  color:inherit;
}

.change-btn.delete-btn{
  color:red;
}

.change-btn.update-btn:hover, .change-btn.delete-btn:hover,
.new-post-btn:hover, .new-part-btn:hover{
  font-weight: 700;
  text-decoration: none;
  transition: all .05s ease-in-out;
}

.change-btn.update-btn::not(:disabled):not(.disabled):active,
.change-btn.delete-btn::not(:disabled):not(.disabled):active
{
  font-weight: 700;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.change-btn.update-btn:focus, .change-btn.delete-btn:focus,
.new-post-btn:focus, .new-part-btn:focus{
  font-weight: 700;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.change-btn.update-btn:hover, .change-btn.update-btn:focus,
.change-btn.update-btn::not(:disabled):not(.disabled):active
{
  color:inherit;
}

.new-post-btn:hover, .new-part-btn:hover{
  color:inherit;
}

.change-btn.delete-btn:hover, .change-btn.delete-btn:focus,
.change-btn.delete-btn::not(:disabled):not(.disabled):active{
  color:red;
}

.post-link:hover, .comment-author:hover{
  font-weight: 700;
  text-decoration: none;
}

.post-title {
  font-size: 35px;
  padding-left: 0;
  background-color: inherit;
}

.posts-abscence, .parts-abscence, .comments-abscence {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

#search-result{
  font-size: 2rem;
}
.posts-abscence{
  padding:20px;
  margin:20px 0;
}

.new-post-wrapper > .card, .new-part-wrapper > .card, 
.update-post-wrapper > .card, .update-part-wrapper > .card {
  margin-left: 5rem;
  margin-right: 5rem;
  border:none;
}


.send-btn.btn-link{
  padding-left: 0;
}

.send-btn.btn-link:hover, .send-btn.btn-link:focus{
  box-shadow: none;
  font-weight: 700;
  text-decoration: none;
}
