@import './normalize.css';

.card-body > .card {
  margin-top: 1rem;
}
.whole-app{
  padding-bottom: auto;
}

#footer{
  margin-top: 160px;
  position: absolute;
  bottom: -1;
  left:0;
  right:0;
  top:-1;
}

.all-components{
  margin-top: 2rem;
}

.first-half{
  display: flex;
  flex-direction: row;
}

.second-half{
  display:flex;
  flex-direction: row;
}

@media (max-width:992px){
  .first-half{
    flex-direction: column;
  }

  .rated-fictions{
    order: 2;
  }

  .tag-cloud{
    order:1;
  }
}

.card-out{
  border:none;
}

.registr-card{
  border: none;
}

.reg-form{
  margin-left: 30%;
  margin-right: 30%;
}

.error-text{
  color:red;
  font-weight: 700;
}

.error-text::before{
  content: "\274c ";
}

.change-btn, .delete-btn{
  padding: 5px;
  width:130px;
}
.change-btn{
  margin-right: 1rem;
  margin-bottom: .5rem;
}


.posts-abscence, .parts-abscence, .comments-abscence {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

#status-code{
  font-size: 5rem;
}

#search-result{
  font-weight: 700;
  font-size: 2rem;
}
.posts-abscence{
  padding:20px;
  margin:20px 0;
}