.post-synopsis, .post-genre, .post-rating, .post-date, .post-tags{
    margin-bottom: .5rem;
}

.part-name{
    font-size: 22px;
    font-weight: 500;
}
.part-link{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link.tag{
    padding:1px 8px;
    margin-right: .4rem;
    margin-bottom: .4rem;
    background-color: rgba(231, 213, 213, 0.973);
    color:black;
    border: none;
}

.btn-link.tag:hover{
    text-decoration: none;
    background-color: rgba(214, 176, 176, 0.973);
    color:black;
}

.btn-link.tag:not(:disabled):not(.disabled):active{
    border: none;
    color:black;
    background-color: rgba(199, 156, 156, 0.973);
    box-shadow: 0 0 0 .2rem rgba(214, 176, 176, 0.726);
}
.btn-link.tag:focus{
    color:black;
    background-color: rgba(199, 156, 156, 0.973);
    box-shadow: 0 0 0 .2rem rgba(214, 176, 176, 0.726);
}

.card-body.part-link{
    padding:.5rem 1rem
}
.card-footer.part-change{
    padding:0;
}

@media (max-width:340px){
    .tag{
        margin-top: 3px;
    }
}
.part-arrow{
    height:1em;
    width:1em;
}

#comment{
    width: 50%;
}

@media (max-width:768px){
    #comment{
        width:80%;
    }
}