.user-data{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.post-title.card-title{
    font-weight: 400;
}

.text-editor{
    height:auto;
    width: auto;
    overflow-wrap:anywhere;
}

@media (max-width: 770px){
    .user-posts{
        order:2;
    }
    .posts-sorter{
        margin-bottom: 1rem;
        order:1;
    }
}

.edit-btn, .cancel-btn, .save-btn{
    border:none;
    background-color: #fff;
    min-width: 20px;
    padding:0.6rem;
}

.pagination{
    display:flex;
    justify-content: center;
}

a.page-link{
    margin: 0 .5rem;
    border:none;
}

.page{
    padding: .3rem .75rem;
}

.page-link-active{
    border-radius: 50%;
}

a.page-link:focus{
    box-shadow: none;
}
a.page-link:hover{
    background-color: inherit;
}
